1. <span class="badge badge-warning text-md">DATA PRAKTIK HARGA</span><br />
Pendaftaran dan Harga Sudah Dipilih, dilanjutkan
<span class="font-weight-bold text-primary"
  >Validasi Data Pendaftaran dan Harga </span
><br /><br />

3. <span class="badge badge-primary text-md">Val. PRAKTIK & HARGA</span><br />
Proses Validasi Data Praktikan dan Harga<br /><br />

3.1.
<span class="badge badge-success text-md"
  >Val. PRAKTIK & HARGA <i class="fas fa-check-circle"></i></span
><br />
Validasi Data Praktikan dan Harga
<span class="font-weight-bold text-success">DITERIMA</span>, Dilanjutkan prose
pemilihan <b class="text-warning">TEMPAT</b> oleh Admin<br /><br />

3.2.
<span class="badge badge-danger text-md"
  >Val. PRAKTIK & HARGA <i class="fas fa-times-circle"></i></span
><br />
Validasi Data Praktikan dan Harga
<span class="font-weight-bold text-danger">DITOLAK</span>,
<span class="font-weight-bold text-danger">CEK KETERANGAN</span><br /><br />

4. <span class="badge badge-warning text-md">TEMPAT</span><br />
Tempat Sudah Dipilih, dilanjutkan Pilih
<span class="font-weight-bold text-warning">MESS/PEMONDOKAN</span> oleh
<b>ADMIN</b><br /><br />

5. <span class="badge badge-warning text-md">MESS/PEMONDOKAN</span><br />
MESS/PEMONDOKAN Sudah didaftarkan oleh Admin, dilanjutkan Melakukan Proses
<span class="font-weight-bold text-primary">PEMBAYARAN</span> <br /><br />

6. <span class="badge badge-primary text-md">PEMBAYARAN</span><br />
Proses Pembayaran Belum Terverifikasi oleh Admin <br /><br />

6.1.
<span class="badge badge-success text-md"
  >PEMB. DITERIMA <i class="fas fa-check-circle"></i></span
><br />
Proses Pembayaran
<span class="font-weight-bold text-success">DITERIMA</span> oleh <b>ADMIN</b>
<br /><br />

6.2.
<span class="badge badge-danger text-md"
  >PEMB. DITOLAK <i class="fas fa-times-circle"></i></span
><br />
Proses Pembayaran <span class="font-weight-bold text-danger">DITOLAK</span>,
<span class="font-weight-bold text-danger">CEK KETERANGAN</span><br /><br />

7. <span class="badge badge-primary text-md font-italic">WAITING LIST</span
><br />
Proses Pendaftaran Selesai dan dalam proses
<span class="text-primary font-italic font-weight-bold">WAITING LIST</span
><br />
akan di <span class="text-success font-weight-bold">AKTIF</span>-kan oleh
<b>ADMIN</b> sesuai dengan tanggal mulai praktiknya<br /><br />

8. <span class="badge badge-success text-md">AKTIF</span><br />
Parktikan sedang <span class="text-success font-weight-bold">AKTIF</span
><br /><br />

9. <span class="badge badge-dark text-md">SELESAI</span><br />
Praktikan Sudah <span class="text-dark font-weight-bold">SELESAI</span
><br /><br />

<span class="badge badge-danger text-md">ERROR</span><br />
Terjadi kesalahan sistem,
<a href="?lapor" class="text-danger text-uppercase font-weight-bold"
  >Laporkan !</a
>
